body {
 background-color: lavender;
 font-family: sans-serif;
}

h1, h2, h3, h4, p {
 font-weight: 600;
}
p {
 letter-spacing: 0.1rem;
}

.underline {
 height: 0.3rem;
 width: 100px;
 margin-left: 1rem;
 background-color: orangered;
}

/* carousel */
.help {
 background-color: white;
 margin-top: 1rem;
 border-radius: 10px;
 height: 100%;
}
.help span {
 font-size: 2rem;
 padding-right: 1rem;
}
.help div {
 margin: 1rem;
 padding: 0.2rem;
 color: orangered;
 align-items: center;
 font-size: 1.4rem;
 align-items: center;
}

/* Subheading */
.subheading  a {
 display: flex;
 align-items: center;
 background-color: white;
 margin: 0.5rem;
 margin-top: auto;
 height: 100%;
}

.subheading a img {
 width: 20%;
 padding-right: 00.2rem;
 padding-left: 00.2rem;
}
.subheading p {
 color: rgb(6, 44, 59) !important;
 font-size: 1rem;
 display: inline-block;
 text-transform: capitalize;
 font-family: cursive;
}

/* TopSellingItem */
.top {
 background-color: white;
 border-radius: 5px;
 display: block;
}
.top h3 {
 background-color: orange;
 margin: 0;
 border-radius: 0 0 7px 7px ;
}
.card {
 border:transparent;
 transition: all 0.5s ease-in-out;
 margin-top: 2rem;
}
.card:hover {
 transform: scale(1.04);
 box-shadow: 0.02rem 0.02rem 0.2rem 0.2rem rgb(230, 223, 223);
}
.card p {
 font-weight: normal !important;
 display: inline-block;
 color: black !important;
 text-transform: capitalize;
}
.per {
 position: absolute;
 top: 0rem;
 right: 0rem;
}
.per p {
 color: midnightblue !important;
 padding: 0.1rem;
 background: linear-gradient(rgb(255,165,00,0.9),rgb(255,165,00,0.9));
 border-radius: 0 0 0 5px;
}
.d-flex {
 color: orange;
}
.btn2 {
 background-color: orange;
 color: white;
 text-transform: uppercase;
 border: transparent;
 border-radius: 5px;
}

/* details */
.btn-1 {
 padding: 0.5rem;
 border: 0.08rem solid orange;
 border-radius: 10px;
 font-weight: 900;
 color: orange;
 transition: all 1s ease-in-out;
}
.btn-1:hover {
 background-color: orange;
 color: white;
}

/* Empty Cart */
.empty {
 padding-top: 15vh;
}

/* sign in */
.sign {
 background-color: white;
 margin: 3rem;
 border-radius: 8px;
 box-shadow: 0.05rem 0.05rem 0.3rem 0.3rem gray;
}
input {
 border: transparent;
 border-bottom: 0.1rem solid orange;
 background-color: transparent;
 width: 100%;
 transition: all 0.5s ease-in;
 padding: 0.3rem;
}
input:focus {
 background-color: orange;
 color: white;
}
.btn4 {
 background-color: orange;
 width: 100%;
 border: transparent;
 border-radius: 4px;
 color: white;
 text-transform: uppercase;
}
.btn5 {
 background-color: darkblue;
 width: 100%;
 border: transparent;
 border-radius: 4px;
 color: white;
 text-transform: capitalize;
}

/* footer */
footer {
 background-color: rgb(0, 0, 0, 0.8);
 color: white;
 margin-top: 2rem;
 margin-bottom: 0;
}
footer h1 {
 color: orange;
 font-family: cursive;
}
.btn-outline-white {
 color: orange;
 border: 0.06rem solid orange;
 font-weight: bolder;
 transition: all 0.5s ease-in;
}
.btn-outline-white:hover {
 background-color: orange;
 color: white;
}
.download {
 margin-top: 2rem;
 text-transform: capitalize;
}
